<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Servlet.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Servlet.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationControl</servlet-name>
        <servlet-class>Servlet.RegistrationControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>Servlet.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>Servlet.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Productstat</servlet-name>
        <servlet-class>Servlet.Productstat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrder</servlet-name>
        <servlet-class>Servlet.DetailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatebill</servlet-name>
        <servlet-class>Servlet.Updatebill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailStat</servlet-name>
        <servlet-class>Servlet.DetailStat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employeestat</servlet-name>
        <servlet-class>Servlet.Employeestat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationControl</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Productstat</servlet-name>
        <url-pattern>/Productstat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrder</servlet-name>
        <url-pattern>/DetailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatebill</servlet-name>
        <url-pattern>/Updatebill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailStat</servlet-name>
        <url-pattern>/DetailStat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employeestat</servlet-name>
        <url-pattern>/Employeestat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>general/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
